@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');
@import '../css/theme.scss';
.wrapper {
  margin: auto;
  max-width: 1440px;
}
.page-header {
  display: flex;
  background: #ffffff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 9%;
  align-items: center;
  .logo {
    font-size: 18px;
  }
  .navbar {
    a {
      color: $light-color;
      font-size: 18px;
      margin: 0 1rem;
      font-weight: 400;
      opacity: 0.5;
      &:hover,
      &:active {
        color: $blue;
      }
    }
  }
}
.side-element {
  padding-top: 5em;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  .illustration {
    flex: 0 1 36rem;

    .description {
      padding: 3em;
      margin-top: 5rem;
    }
    .description-title {
      font-size: 48px;
      color: $black;
      margin: 0%;
    }
    .description-content {
      font-size: 21px;
      color: #7d7987;
    }

    .consult {
      padding: 1.3em;
      border-radius: 55px;
      background-color: $blue;
      color: $white;
      cursor: pointer;

      &:hover {
        color: $blue;
        background-color: $white;
        border: 1px solid $blue;
      }
    }
  }
}
