@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: Mulish;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

.wrapper {
  margin: auto;
  max-width: 1440px;
}

.page-header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  background: #ffffff;
  -ms-flex-pack: justify;
  padding: 2rem 10%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.page-header .logo {
  font-size: 18px;
}

.page-header .navbar a {
  color: #1f1534;
  font-size: 18px;
  margin: 0 1rem;
  font-weight: 400;
  opacity: 0.5;
}

.page-header .navbar a:hover, .page-header .navbar a:active {
  color: #458ff6;
}

.side-element {
  padding-top: 5em;
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .illustration {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36rem;
          flex: 0 1 36rem;
}

.container .illustration .description {
  padding: 3em;
  margin-top: 5rem;
}

.container .illustration .description-title {
  font-size: 48px;
  color: #000000;
  margin: 0%;
}

.container .illustration .description-content {
  font-size: 21px;
  color: #7d7987;
}

.container .illustration .illustration-image {
  max-height: 100vh;
}

.container .illustration .consult {
  padding: 1.3em;
  border-radius: 55px;
  background-color: #458ff6;
  color: #ffffff;
  cursor: pointer;
}

.container .illustration .consult:hover {
  color: #458ff6;
  background-color: #ffffff;
  border: 1px solid #458ff6;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 19%;
}

.services .services-description {
  color: #7d7987;
}

.select-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 5rem;
}

.select-service .card {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 25%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 2rem 1.5rem;
}

.select-service .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.select-service .card-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-service .container {
  padding: 2px 16px;
}

.select-service .services-description {
  color: #7d7987;
}
/*# sourceMappingURL=style.css.map */