@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');
@import '../css/theme.scss';
.wrapper {
  margin: auto;
  max-width: 1400px;
}
@mixin grid($value) {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 145px;
}
h2 {
  font-size: 22px;
  font-display: swap;
  font-weight: 300;
}
h3 {
  font-size: 22px;
  font-weight: 300;
}

body {
  margin: 0px;
  padding: 0px;
}

.secondary-consult {
  background-color: $white;
  color: $blue;
  border: 1px solid $blue;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: $white;

  .page-header {
    display: flex;
    background: #ffffff;
    padding: 30px 0px;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    font-display: swap;
    .logo {
      font-size: 18px;
    }
    .navbar {
      a {
        color: $light-color;
        font-size: 18px;
        margin: 0 1rem;
        font-weight: 300;
        font-display: swap;
        &:hover,
        &:active {
          color: $blue;
        }
      }
    }
  }
}
.side-element {
  padding-top: 5em;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  padding-top: 100px;

  .illustration {
    flex: 0 1 36rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
    }
  }
  .description-title {
    font-size: 36px;
    color: #000000;
    margin: 0%;
    font-weight: 700 bold;
    font-display: swap;
  }
}
.description-content {
  font-size: 18px;
  font-display: swap;
  color: $light-color;
  line-height: 32px;

  hr {
    float: left;
    width: 10%;
    margin: unset;
  }
}

.swiper-slide {
  background-image: url(../assets/images/background1.svg),
    url(../assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: left, 1320px center;
}
.slide0 {
  background-image: url(../assets/images/background.svg);
  background-position-y: 20%;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(../assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.slide2 {
  background-image: url(../assets/images/background.svg),
    url(../assets/images/background.svg);
  background-position: left, top;
  background-position-x: 13%, 80%;
  background-position-y: 56%, 22%;
  background-clip: border-box;
  background-repeat: no-repeat;
}
.slide3 {
  background-image: url(../assets/images/background.svg),
    url(../assets/images/background2.svg);
  background-repeat: no-repeat;
  background-position-x: 6%, 100%;
  background-position-y: 30%, 45%;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 192px;

  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 76px;
    margin: 0;
  }
  .services-description {
    color: $light-color;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
  }
  .services-descriptions {
    color: $light-color;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
  }
}
hr {
  border: 1px solid black;
  display: block;
  width: 55px;
  margin: unset;
}
.select-service {
  display: flex;
  justify-content: space-around;
  flex: 1;
  padding: 1rem 5rem;
  margin: 0;
  gap: 45px;
  a {
    color: $blue;
  }
  .card {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $white;

    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  .card-service {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 33px;
    background-color: $white;
    .card-container {
      padding: 0px;
    }
    .card-service-image {
      img {
        padding-bottom: 10px;
      }
    }
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card-service:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card-container {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 33px;
    display: flex;
  }
  .container {
    padding: 2px 16px;
  }
  .services-description {
    color: $light-color;
    font-size: 16px;
    line-height: 28px;
    margin: 0px;
    font-weight: 300;
  }
  .services-label {
    font-weight: 700;
    margin: 0px;
    line-height: 56px;
  }
  .consult {
    margin: auto;
    display: flex;
    border: 1px solid #458ff6;
  }
}
.our-services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 4rem;
  .line-break {
    float: left;
  }

  .services-button {
    padding: 4rem;
  }
}
.home {
  padding: 8rem;
  .home-slider {
    background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
    border-radius: 24px;
    text-align: center;
    padding: 2rem;
    color: $white;
    .flex-box-label {
      text-align: center;
    }
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fade {
      0% {
        transform: skewX(0deg) translateX(300px);
      }
      60% {
      }
      100% {
        transform: skew(0deg);
      }
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
    img {
      border-radius: 100%;
      align-self: center;
    }
    hr {
      border: 1px solid $white;
      margin-left: 512px;
      margin-right: 512px;
    }
    .info {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 5px;
    }
  }
  .flex-box {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 2%;
    h2 {
      text-align: center;
    }
    .flex-item {
      display: flex;
      flex: 1;
      padding: 20px;
    }
  }
  .reviews-description {
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    text-align: left;
  }
}
.service-wrapper {
  .services-label {
    padding-bottom: 12px;
    line-height: 32px;
  }
  .services-description {
    padding-bottom: 25px;
  }
}
.footer {
  margin: unset;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 120px 0px;
  .box-container {
    @include grid(25rem);
    align-content: space-around;
    .box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: space-between;
      .label {
        color: $white;
        font-size: 18px;
      }
      .credit {
        color: $white;
        font-size: 16px;
      }
      h3 {
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
      }
      a {
        display: block;
        font-size: 18px;
        color: #ffffff;
        line-height: 38px;
        font-weight: 300;

        &:hover {
          color: $white;
        }

        &:hover i {
          padding-right: 2rem;
        }
      }
    }
  }
}
.slider {
  color: #458ff6;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
    color: #5b9bf3;
    opacity: 0.3;
    margin: 27px;

    &:hover,
    &.active {
      background-color: $blue;
    }
  }
  .slider-dot {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
  }
  .prev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
  }
  .next {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
  }
}
