@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: Mulish, Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

button {
  padding: 1.3em 3em;
  border-radius: 55px;
  background-color: #056dff;
  color: #ffffff;
  border: 1px solid #056dff;
  cursor: pointer;
}

button:hover {
  color: #056dff;
  background-color: #ffffff;
  border: 1px solid #056dff;
}

.wrapper {
  margin: auto;
  max-width: 1400px;
}

h2 {
  font-size: 22px;
  font-display: swap;
  font-weight: 300;
}

h3 {
  font-size: 22px;
  font-weight: 300;
}

body {
  margin: 0px;
  padding: 0px;
}

.secondary-consult {
  background-color: #ffffff;
  color: #056dff;
  border: 1px solid #056dff;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  padding: 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-display: swap;
}

.header .page-header .logo {
  font-size: 18px;
}

.header .page-header .navbar a {
  color: #757575;
  font-size: 18px;
  margin: 0 1rem;
  font-weight: 300;
  font-display: swap;
}

.header .page-header .navbar a:hover, .header .page-header .navbar a:active {
  color: #056dff;
}

.side-element {
  padding-top: 5em;
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.container .illustration {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36rem;
          flex: 0 1 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .illustration .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .description-title {
  font-size: 36px;
  color: #000000;
  margin: 0%;
  font-weight: 700 bold;
  font-display: swap;
}

.description-content {
  font-size: 18px;
  font-display: swap;
  color: #757575;
  line-height: 32px;
}

.description-content hr {
  float: left;
  width: 10%;
  margin: unset;
}

.swiper-slide {
  background-image: url(../assets/images/background1.svg), url(../assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: left, 1320px center;
}

.slide0 {
  background-image: url(../assets/images/background.svg);
  background-position-y: 20%;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(../assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slide2 {
  background-image: url(../assets/images/background.svg), url(../assets/images/background.svg);
  background-position: left, top;
  background-position-x: 13%, 80%;
  background-position-y: 56%, 22%;
  background-clip: border-box;
  background-repeat: no-repeat;
}

.slide3 {
  background-image: url(../assets/images/background.svg), url(../assets/images/background2.svg);
  background-repeat: no-repeat;
  background-position-x: 6%, 100%;
  background-position-y: 30%, 45%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 192px;
}

.services h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 76px;
  margin: 0;
}

.services .services-description {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.services .services-descriptions {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

hr {
  border: 1px solid black;
  display: block;
  width: 55px;
  margin: unset;
}

.select-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 5rem;
  margin: 0;
  gap: 45px;
}

.select-service a {
  color: #056dff;
}

.select-service .card {
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffffff;
}

.select-service .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.select-service .card-service {
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 33px;
  background-color: #ffffff;
}

.select-service .card-service .card-container {
  padding: 0px;
}

.select-service .card-service .card-service-image img {
  padding-bottom: 10px;
}

.select-service .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.select-service .card-service:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.select-service .card-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-service .container {
  padding: 2px 16px;
}

.select-service .services-description {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  margin: 0px;
  font-weight: 300;
}

.select-service .services-label {
  font-weight: 700;
  margin: 0px;
  line-height: 56px;
}

.select-service .consult {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #458ff6;
}

.our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.our-services .line-break {
  float: left;
}

.our-services .services-button {
  padding: 4rem;
}

.home {
  padding: 8rem;
}

.home .home-slider {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  text-align: center;
  padding: 2rem;
  color: #ffffff;
}

.home .home-slider .flex-box-label {
  text-align: center;
}

.home .home-slider img {
  border-radius: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .home-slider hr {
  border: 1px solid #ffffff;
  margin-left: 512px;
  margin-right: 512px;
}

.home .home-slider .info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 5px;
}

.home .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  gap: 2%;
}

.home .flex-box h2 {
  text-align: center;
}

.home .flex-box .flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

.home .reviews-description {
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  text-align: left;
}

.service-wrapper .services-label {
  padding-bottom: 12px;
  line-height: 32px;
}

.service-wrapper .services-description {
  padding-bottom: 25px;
}

.footer {
  margin: unset;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 120px 0px;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 145px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.footer .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.footer .box-container .box .label {
  color: #ffffff;
  font-size: 18px;
}

.footer .box-container .box .credit {
  color: #ffffff;
  font-size: 16px;
}

.footer .box-container .box h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}

.footer .box-container .box a {
  display: block;
  font-size: 18px;
  color: #ffffff;
  line-height: 38px;
  font-weight: 300;
}

.footer .box-container .box a:hover {
  color: #ffffff;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.slider {
  color: #458ff6;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.slider .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  color: #5b9bf3;
  opacity: 0.3;
  margin: 27px;
}

.slider .slider-dot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.slider .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */